.task-stats-card {
    background-color: var(--color-card-background);
    border-radius: 8px;
    padding: 1rem .5rem .5rem .5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s;
}

.task-stats-card:hover {
    transform: translateY(-3px);
}

.card-content {
    display: flex;
    gap: 5.5rem;
}

.card-title {
    font-size: 14px;
    color: var(--dark-gery-text);
    margin-bottom: 5px;
    font-weight: 500;
}

.card-value {
    font-size: 28px;
    font-weight: 700;
    color: var(--color-text-dark);
    margin-bottom: 5px;
}

.card-subtext {
    font-size: 12px;
    color: var(--color-text-light);
}

.card-icon-wrapper {
    width: 2rem;
    height: 2rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
    color: white;
    margin-top: .375rem;
}

/* Specific color classes */
.card-icon-wrapper.blue {
    background-color: var(--color-blue);
}

.card-icon-wrapper.deepblue {
    background-color: var(--deep-blue);
}

.card-icon-wrapper.green {
    background-color: var(--color-green);
}

.card-icon-wrapper.teal {
    background-color: var(--color-teal);
}

.card-icon-wrapper.purple {
    background-color: var(--color-purple);
}

/* Hiding the template for JS population */
.task-stats-card.template {
    display: none;
}