section.login-page {
    height: 38.625rem;
    width: 28rem;
    position: absolute;
    top: 1.25rem;
    left: 28.2rem;
    overflow: hidden;
    z-index: 1;
    background-color: #fff;
    box-shadow: -1px 5px 40px 1px #d1d2d3;
    border-radius: .75rem;
}

.login-page__top {
    width: 100%;
    height: 14.125rem;
    position: relative;
}

.login-page__top img {
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: 11.5rem;
    top: .7rem;
}

h1 {
    font-size: 1.9rem;
    position: relative;
    top: 6.8rem;
    left: 7.1rem;
    font-weight: 700;
    line-height: 2.25rem;
}

p {
    position: relative;
    line-height: 1.5rem;
    font-size: 1rem;
    top: 5.96rem;
    left: 5rem;
    color: #596371;
}

.login-page__middle {
    position: relative;
    left: 1.65rem;
    width: 25rem;
    height: 2.25rem;
    background-color: #F3F4F6;
    border-radius: .75rem;
    display: grid;
    grid-template-columns: 196px 196px;
    grid-template-rows: 30px;
    gap: 6px;
    text-align: center;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    justify-content: center;
}

.bttn {
    position: relative;
    top: 3px;
    align-items: center;
    border-radius: .5rem;
    border: none;
    font-weight: 500;
}

.bttn.one {
    background-color: #fff;
}

.login-page__form {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0.8rem;
    left: 1.4rem;
}

.button-imports {
    display: flex;
    gap: 1rem;
    margin-top: 1.9rem;
}

.foot-texts {
    color: #9096A2;
    position: relative;
    bottom: -2.33rem;
    font-size: .875rem;
    text-align: center;
    margin-bottom: 8px;
}

.text-span, .a {
    font-size: .75rem;
}

.a {
    text-decoration: none;
    color: #155DFC;
}