.login-page, .signup-page {
    min-height: 39rem;
    max-height: 42.7rem;
    height: auto;
    width: 28rem;
    position: absolute;
    top: 1.25rem;
    left: 28.2rem;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 0px 40px 0px #d1d2d3;
    border-radius: .75rem; 
}

.signup-page {
    opacity: 0;
}

.active{
    max-height: 51rem;
    width: 28rem;
    opacity: 1;
}

.login-page__top {
    width: 100%;
    height: 14.125rem;
    position: relative;
}

.login-page__top img {
    width: 5.2rem;
    height: 5.45rem;
    position: absolute;
    left: 11.5rem;
    top: .7rem;
}

h1 {
    font-size: 1.9rem;
    position: relative;
    top: 6.8rem;
    left: 6.9rem;
    font-weight: 700;
    line-height: 2.25rem;
}

p {
    position: relative;
    line-height: 1.5rem;
    font-size: 1rem;
    top: 6.1rem;
    left: 3.9rem;
    color: #596371;
}

.h1-page__top {
    top: 6.8rem;
    left: 7.2rem;
}

.p-page__top {
    top: 6rem;
    left: 5rem;
}

.login-page__middle {
    position: relative;
    left: 1.4rem;
    width: 25rem;
    height: 2.25rem;
    background-color: #F3F4F6;
    border-radius: .75rem;
    display: grid;
    grid-template-columns: 196px 196px;
    grid-template-rows: 30px;
    gap: 6px;
    text-align: center;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    justify-content: center;
}

.bttn {
    position: relative;
    top: 3px;
    align-items: center;
    border-radius: .5rem;
    border: none;
    font-weight: 500;
}

.bttn.one {
    background-color: #fff;
}

.login-page__form {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0.8rem;
    left: 1.4rem;
}

.password-text {
    font-size: .75rem;
    color: #9096A2;
    position: relative;
    top: -3px;
    left: 2px;
}

.invalid-login {
    width: 25rem;
    position: relative;
    display: flex;
    align-items: center;
    outline: .1px solid rgba(255, 0, 0, 0.184);
    background-color: #FEF2F2;
    border-radius: .75rem;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #e7000b;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, margin 0.3s ease, padding 0.3s ease;
}

.invalid-login.active {
    max-height: 2.8rem;
    opacity: 1;
    margin: 1.25rem 0 0 0;
    padding: .9rem;
}

.invalid-signup {
    width: 25rem;
    position: relative;
    display: flex;
    align-items: center;
    outline: .1px solid rgba(255, 0, 0, 0.184);
    background-color: #FEF2F2;
    border-radius: .75rem;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #e7000b;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, margin 0.3s ease, padding 0.3s ease;
}

.invalid-signup.active {
    max-height: 2.8rem;
    opacity: 1;
    padding: .9rem;
}

.button-imports {
    display: flex;
    gap: 1rem;
    margin: 1.7rem 0 0 .05rem;
}

.button-imports.su {
    margin: .7rem 0 0 .05rem;
}

.foot-texts {
    color: #9096A2;
    position: relative;
    bottom: -2.33rem;
    font-size: .875rem;
    text-align: center;
    /* margin-bottom: 8px; */
}

.text-span, .a {
    font-size: .75rem;
}

.a {
    text-decoration: none;
    color: #155DFC;
}