.input-container {
    display: flex;
    flex-direction: column;
    font-family: "ui-sans-serif", system-ui, sans-serif;
    font-size: .875rem;
    width: 25rem;
    position: relative;
    margin: 20px 0 0 0;
}

.input-container label {
    margin: 0 0 0.25rem 0;
    font-weight: 500;
    color: #364153;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input-wrapper input {
    width: 100%;
    height: 3rem;
    border-radius: .75rem;
    padding-left: 2.6rem;
    border: 1px solid #E5E7EB;
}

.input-wrapper img {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
}

#password {
    font-size: 1.35rem;
    font-weight: 700;
}

input:active {
    background-color: #B5BDCB;
    color: #ffffffb9;
}

input:focus {
    outline: 1px solid #2e53fa8b;
    box-shadow: 0px 0px 1px 3px #9dabeb83;
    border: 1px solid #2e53faad;
}