.quick-actions {
    grid-column: 2 / 3;
    min-height: 250px;
}

.head {
    display: flex;
    gap: 20px;
}

.action-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;;
    transition: background-color 0.2s;
}

.tasks .action-item:hover {
    background-color: #06B6D4;
}

.action-item i {
    font-size: 24px;
    color: var(--color-primary);
    margin-right: 15px;
    width: 25px;
    text-align: center;
}

.action-text p {
    font-weight: 600;
    color: var(--color-text-dark);
}

.action-text small {
    color: var(--color-text-light);
    font-size: 12px;
}

.action-list hr {
    border: none;
    border-top: 1px solid var(--color-border);
    margin: 10px 0;
}

a {
    text-decoration: none;}