.aside {
    width: 260px;
    height: 100vh;
    background-color: var(--color-card-background);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

/* Logo/Title */
.aside-header {
    padding: 0 20px 20px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: -.8rem;
}

.logo {
    width: 2.5rem;
    height: 2.5rem;
}

.aside-header h2 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-text-dark);
}

.aside-user {
    border-top: 1px solid var(--color-border);
    gap: 1.25rem;
    padding: 10px 20px 0 20px;
    display: flex;
    align-items: flex-start;
    margin-top: -10px;
    border-bottom: 1px solid var(--color-border);
    margin-bottom: 20px;
    text-align: left;

}

.aside-user-avatar {
    width: 40px;
    height: 40px;
    background-color: var(--color-primary);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.aside-user-info p {
    font-size: 14px;
    color: var(--dark-gery-text);
    font-weight: 600;
    line-height: 1.4;
    margin-top: -2px;
}

.aside-user-info small {
    font-size: 12px;
    color: var(--color-text-light);
}

/* Navigation */
.aside-nav {
    flex-grow: 1;
}

.aside-nav ul {
    list-style: none;
}

.aside-nav ul li a {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    text-decoration: none;
    color: var(--color-text-dark);
    transition: background-color 0.2s, color 0.2s;
    font-size: 14px;
}

.aside-nav ul li a.active {
    background-color: var(--color-primary);
    color: white;
    font-weight: 600;
    border-radius: 0 25px 25px 0;
    margin-right: 15px;
}

.aside-nav ul li a:not(.active):hover {
    background-color: #f0f0f0;
}

.aside-nav ul li a i {
    margin-right: 15px;
    width: 20px;
    text-align: center;
}

/* Logout Button */
.aside-logout {
    padding: 0 20px 10px 20px;
    margin-top: auto;
}

.aside-logout a {
    display: flex;
    align-items: center;
    padding: 12px;
    text-decoration: none;
    color: #e74c3c;
    font-weight: 600;
    border-top: 1px solid var(--color-border);
}

.aside-logout a i {
    margin-right: 15px;
    width: 20px;
}