body {
    background-color: #f8f9fa;
    box-sizing: border-box;
    overflow-x: hidden;
    min-height: 640px;
    height: auto;
    max-width: 1200px;
    max-height: 1920px;
}

.container {
    position: relative;
    width: 100%;
    /* min-height: 108vh; */
}

/* Background with both static pieces and animated pieces */
.background::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/assets/images/svg/auth-svg/background.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
}

.background {
    width: 100vw;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: 0;
}

.right, .left {
    flex: 1;
    height: 100%;
    position: relative;
}

.static-blue {
    position: absolute;
    top: 8rem;
    left: 3.8rem;
}

.static-yellow {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  position: relative;
  top: 26.6rem;
  left: 32rem;
  border: 4px solid #e7d65b;
}

.circle {
    width: .1rem;
    height: .1rem;
    border-radius: 50%;
    position: absolute;
}

.circle.blue {
    bottom: 12rem;
    left: 11rem;
    background-color: #394ff9a4;
}

.circle.blue::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 0 #394EF9;
    animation: glowPulseBlue 2s infinite ease-in-out;
}

@keyframes glowPulseBlue {
    0%, 100% {box-shadow: -1px 11px 52px 25px #2A56FA; }
    50% { box-shadow: -1px 11px 55px 40px  #2A56FA; }
}

.circle.purple {
    top: 16rem;
    left: 6rem;
    background-color: #752bcb94;
}

.circle.purple::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 0 #5b14c4;
    animation: glowPulsePurple 2s infinite ease-in-out;
}

@keyframes glowPulsePurple {
    0%, 100% {box-shadow: -1px 11px 52px 25px #8253ca; }
    50% { box-shadow: -1px 11px 55px 40px  #7853b0; }
}

.circle.yellow {
    top: 5rem;
    left: 32rem;
    background-color: #f0b30d79;
}

.circle.yellow::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 0 #ce9e26;
    animation: glowPulseYellow 2s infinite ease-in-out;
}

@keyframes glowPulseYellow {
    0%, 100% {box-shadow: -1px 11px 52px 25px #F6BF35; }
    50% { box-shadow: -1px 11px 55px 40px  #F6BF35; }   
}

.circle.purple::before { 
  animation-delay: 0.6s; 
}

.circle.yellow::before { 
  animation-delay: 1s; 
}

.circle::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: rgba(14, 4, 41, 0.895);
    animation: blink 1s infinite ease-in-out;
}

@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 0.1; }
}

.triangle {
    position: absolute;
    right: 22.5rem;
    bottom: 15.1rem;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #e2e8f36f;
    z-index: 2;
}

.arrow {
    animation: bounceUpDown 1s ease-in-out infinite;
    display: inline-block;
    position: absolute;
    right: 23rem;
    top: 7rem;
}

@keyframes bounceUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Login and signup container */
.main{
    padding: 1.25rem 0; 
    /* min-height: calc(110vh - 2.5rem); */
    max-width: 28rem;
    min-height: 39rem;
}