:root {
    --color-primary: #5c62d6;
    --color-text-light: #555;
    --color-background: #f4f6f8;
    --color-card-background: #fff;
    --color-border: #eee;
    --color-blue: #5c62d6;
    --color-purple: #9063c6;


    --deep-blue: #4841F7;
    --onclick: #EEF2FF;
    --blue-text: #155DFC;
    --light-grey-text:#9096A2;
    --dark-gery-text: #364153;
    --red-text: #e7000b;
    --red-hover: #FEF2F2;
    --color-text-dark: #1e293b;
    --color-teal: #0092B8;
    --color-green: #00A63E;
}

body {
    background-color: var(--color-background);
    min-height: 100vh;
    box-sizing: border-box;
}

/* --- Loader circle --- */
#loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    z-index: 1000;
    transition: opacity 0.5s;
}

#loader.hidden {
    opacity: 0;
    visibility: hidden;
}

.spinner {
    border-top: 4px solid var(--color-primary);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    animation: spin 1s linear infinite;
    margin-bottom: 50px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#dashboard-container {
    display: flex;
    min-height: 100vh;
}

#dashboard-container.hidden {
    display: none;
}

.dashboard-main {
    flex-grow: 1;
    padding: 30px;
    margin-left: 260px; 
}

header h1 {
    font-size: 1.86rem;
    line-height: 1.5rem;
    color: var(--color-text-dark);
    font-weight: 700;
    margin-top: .4375rem;
}

header p {
    font-size: 1rem;
    color: var(--color-text-light);
    margin-top: -7px;
}

/* Dashboard Grids */
.dashboard-stats-grid {
    display: grid;
    position: relative;
    right: 16.5rem;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1.2rem;
    margin-top: 2.1875rem;
}

.dashboard-stats-grid .task-stats-card:nth-child(5) {
    position: relative;
    top: -11.6rem; 
    left: 66rem;
}

.dashboard-bottom-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    margin-top: -8.5rem;
}

/* General Module Styling */
.module-box {
    background-color: var(--color-card-background);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.module-box h2 {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-text-dark);
    margin-bottom: 20px;
}