:root {
    --color-primary: #5c62d6;
    --color-text-dark: #333;
    --color-text-light: #555;
    --color-background: #f4f6f8;
    --color-card-background: #fff;
    --color-border: #eee;
    --color-blue: #5c62d6;
    --color-green: #37b752;
    --color-purple: #9063c6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--color-background);
    min-height: 100vh;
}

/* --- Loader circle --- */
#loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    z-index: 1000;
    transition: opacity 0.5s;
}

#loader.hidden {
    opacity: 0;
    visibility: hidden;
}

.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid var(--color-primary);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* --- Dashboard pattern--- */
#dashboard-container {
    display: flex;
    min-height: 100vh;
}

#dashboard-container.hidden {
    display: none;
}

.dashboard-main {
    flex-grow: 1;
    padding: 30px;
    margin-left: 260px; 
}


header h1 {
    font-size: 24px;
    color: var(--color-text-dark);
    font-weight: 500;
    margin-bottom: 5px;
}

header p {
    font-size: 14px;
    color: var(--color-text-light);
    margin-bottom: 30px;
}

/* Dashboard Grids */
.dashboard-stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    margin-bottom: 30px;
}

.dashboard-bottom-grid {
    display: grid;
    grid-template-columns: 2.5fr 1fr; 
    gap: 20px;
}

/* General Module Styling */
.module-box {
    background-color: var(--color-card-background);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.module-box h2 {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-text-dark);
    margin-bottom: 20px;
}