.button {
    padding: 0.5rem 1rem;
    width: 12.25rem;
    height: 3rem;
    background-color: #f6bf35;
    border-radius: .75rem;
    border: none;
}

.button img {
    width: 1.125rem;
    height: 1.125rem;
}

.btnText {
    font-size: 14px;
    font-family: "ui-sans-serif", system-ui, sans-serif;
    Font-weight: 600;
    line-height: 1.25rem;
     color: #101828;
}

.button:hover {
  background: linear-gradient(to right, #f6b951, #d2901d);
}