.page-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-border);
}

.tasks-main {
    padding: 30px; 
    margin-left: 260px;
}

.header-icon-wrapper img{
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 15px;
}

.header-text h1 {
    font-size: 26px;
    font-weight: 600;
    color: var(--color-text-dark);
    margin: 0;
    line-height: 1.2;
}

.header-text p {
    font-size: 14px;
    color: var(--color-text-light);
    margin: 0;
}