.btn-help {
    padding: 0.5rem 1rem;
    width: 12rem;
    height: 3rem;
    background-color: #F9FAFB;
    border-radius: .75rem;
    border: 2px solid #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-help img {
    width: 1.125rem;
    height: 1.125rem;
}

.btn-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25rem;
    color: #101828;
}

.btn-help:hover img,
.btn-help:hover .btn-text {
    opacity: 0;
    visibility: hidden;
}